@(res: org.neo4j.cypher.ExecutionResult)

@import org.neo4j.graphdb._

@drawQueryObj(o: Object) = @{
	def drawSimpleObj(o: Object) = o match {
 	  case a: Array[Any] => "[" + a.map{_.toString}.mkString(", ") + "]"
 	  case o => o.toString
	} 
	
	def drawPropContainer(p: PropertyContainer) = {
		val propsDrawn = p.getPropertyKeys.map{key =>
			s"$key: ${drawSimpleObj(p.getProperty(key))}"
		}.mkString("<br/>")
		
		if(propsDrawn == "") "{}" else s"""{<div style="padding-left:30px"> $propsDrawn </div>}"""
	}
	
	o match {
	  case None => ""
	  case Some(x) => x match {
		  case n: Node => s"N[${n.getId}]" + drawPropContainer(n)
		  case r: Relationship => s"->[${r.getId}]" + drawPropContainer(r)
		  case o: Object => drawSimpleObj(o)
		}
	}
}

<table border="2">
	<tr>
		@for(col <- res.columns) {
			<td>@col</td>
		}
	<tr/>
	@for(row <- res) {
	<tr>
		@for(col <- res.columns) {
			<td> @Html(drawQueryObj(row.get(col))) </td>
		}
	</tr>
	}
<table>

@if(res.queryStatistics.toString != "") {
	STATS: <br/>
	@res.queryStatistics
}

@* @Html(res.dumpToString.split("\n").mkString("<br/>")) *@
