@(recaptchaPublicKey: String)

<div id="recaptcha_widget" style="display:none">
	<div id="recaptcha_image"></div>
	<div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
	<span class="recaptcha_only_if_image">Enter the words above:</span>
	<span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>
	<br/>		
	<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" required="true"/>
	
	<div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
	<div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
	<div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
 </div>

 <script type="text/javascript"	src="https://www.google.com/recaptcha/api/challenge?k=@recaptchaPublicKey"> </script>
 <noscript>
	<iframe src="https://www.google.com/recaptcha/api/noscript?k=@recaptchaPublicKey" height="300" width="500" frameborder="0"></iframe><br>
	<textarea name="recaptcha_challenge_field" rows="3" cols="40">
	</textarea>
	<input type="hidden" name="recaptcha_response_field"	value="manual_challenge">
 </noscript>
